@keyframes spin-loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes appear-loader {
    0% {
        visibility: visible;
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        visibility: hidden;
        opacity: 0;
    }
}

@keyframes appear-card {
    0% {
        visibility: hidden;
        opacity: 0;
        transform: translateY(50%);
    }

    100% {
        visibility: visible;
        opacity: 1;
        transform: translateY(0%);
    }
}


@keyframes rotation-check {
    0% {
        transform: rotate(0turn);
    }
    100% {
        transform: rotate(1turn);
    }
}