html, body {
    overflow-x: hidden;
    height: 1600px;
}
  
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    list-style: none;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-style: normal;
}

h2 {
    font-family: 'Shrikhand', cursive;
}