.header-container {
    width: 100%;
    height: 70px;
    /* border-bottom: 1px solid black; */
    span {
        position: absolute;
        left: 20px;
    }

    span a i {
        color: black;
        font-size: large;
    }
}

.logo-header img {
    width: 70%;
    height: 100%;
}

// PB sur l'ombre de la banner 

