.header-container {
    width: 100%;
    height: 70px;
    background-color: white;
    position: relative;

    span {
        position: absolute;
        left: 20px;
    }

    span a i {
        color: black;
        font-size: large;
    }
}

.logo-header img {
    width: 70%;
    height: 100%;
}


