body {
  background-color: var(--bckg-color2);
}

.picture-rest {
  position: relative;
}
.picture-rest img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.main-rest {
  position: relative;
  z-index: 2;
  bottom: 50px;
  border-radius: 40px 40px 0px 0px;
  background-color: var(--bckg-color2);
  gap: 10px;
}
.main-rest div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 20px;
  height: 100px;
}
.main-rest div h2 {
  font-size: 28px;
  font-weight: normal;
}
.main-rest div span {
  font-size: 28px;
}
.main-rest div span .fas {
  opacity: 0;
  transition: opacity 300ms;
  background: linear-gradient(to top, var(--second-color), var(--prim-color));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-rest div span .far {
  transform: translateX(100%);
  opacity: 1;
  transition: opacity 300ms;
}
.main-rest div span:hover .far {
  opacity: 0;
}
.main-rest div span:hover .fas {
  opacity: 1;
}
.main-rest section {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.main-rest section h3 {
  width: 90%;
  display: flex;
  justify-content: start;
  font-weight: lighter;
  position: relative;
  margin-bottom: 20px;
}
.main-rest section h3 span {
  position: absolute;
  width: 10%;
  border-bottom: 3px solid var(--third-color);
  bottom: -5px;
}
.main-rest section a {
  position: relative;
  height: 70px;
  width: 90%;
  margin: 10px 0px;
  box-shadow: 0px 0px 10px 0px var(--shadow-banner);
  border-radius: 20px;
  background-color: white;
  visibility: hidden;
  opacity: 0;
  animation: appear-card 1s forwards;
}
.main-rest section a:nth-child(1) {
  animation-delay: 200ms;
}
.main-rest section a:nth-child(2) {
  animation-delay: 400ms;
}
.main-rest section a:nth-child(3) {
  animation-delay: 600ms;
}
.main-rest section a:nth-child(4) {
  animation-delay: 800ms;
}
.main-rest section a:nth-child(5) {
  animation-delay: 1000ms;
}
.main-rest section a span {
  display: flex;
  height: 100%;
  width: 0%;
  background-color: var(--third-color);
  position: absolute;
  right: 0px;
  top: 0px;
  transition: width 1s;
  border-radius: 0px 20px 20px 0px;
}
.main-rest section a span i {
  visibility: hidden;
  opacity: 0;
  background-color: var(--third-color);
  color: white;
  border-radius: 100px;
}
.main-rest section a:hover p {
  width: 80%;
}
.main-rest section a:hover span {
  width: 20%;
  border-radius: 0px 20px 20px 0px;
  font-size: 30px;
}
.main-rest section a:hover span i {
  animation: rotation-check 500ms forwards;
}
.main-rest button {
  height: 50px;
  padding: 0px 20px;
  font-size: 16px;
  border-radius: 50px;
  box-shadow: 0px 0px 10px 0px var(--shadow-banner);
  background: linear-gradient(to right bottom, var(--second-color), var(--prim-color));
  color: white;
  border: none;
  cursor: pointer;
  align-self: center;
  width: 50%;
}
.main-rest button:hover {
  filter: brightness(110%);
  box-shadow: 0px 0px 10px 0px var(--shadow-banner-hov);
}

.text-menu {
  height: 100%;
  width: 100%;
  padding: 0px 15px;
  justify-content: space-evenly;
  transition: width 1s;
}
.text-menu :first-child {
  font-size: 18px;
}
.text-menu em {
  display: flex;
  justify-content: space-between;
}
.text-menu .price-item {
  font-size: 16px;
}

/*# sourceMappingURL=menu.css.map */
